<h3 class="text-center text-muted">
  <%= t('search_contact') %>
</h3>
<%= form_tag search_contacts_path, :class=> "form-horizontal", :role => "form" do %>
  <div class="form-group">
    <div class="col-sm-2">
      <label for="searchCriteria" class="control-label col-sm-offset-4"><%= t('search_by') %></label>
    </div>
    <div class="col-sm-4 selectContainer">
      <% select_options = [ [t('first_name'), :first_name], 
                            [t('last_name'), :last_name], 
                            [t('phone_number'), :phone_number] 
                          ] %>
      <%= select_tag "searchCriteria", options_for_select(select_options), { class: "form-control" } %>
    </div>
    <div class="col-sm-4">
      <%= text_field_tag "inputText", nil, class: "form-control" %>  
    </div>
    <div class="col-sm-2">
      <%= submit_tag t('search'), class: "btn btn-default" %>
    </div>
  </div>
<% end %>
