<h3 class="text-center text-muted">
  <%= t('search_contact') %>
</h3>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-sm-2">
      <label for="searchCriteria" class="control-label"><%= t('search_by') %></label>
    </div>
    <div class="col-sm-4 selectContainer">
      <select name="searchCriteria" class="form-control">
        <option value="first_name"><%= t('first_name')%></option>
        <option value="last_name"><%= t('last_name') %></option>
        <option value="phone_number"><%= t('phone_number') %></option>
      </select>
    </div>
    <div class="col-sm-4">
      <input type="textf" class="form-control" id="inputTextf" />
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-default"><%= t('search') %></button>
    </div>
  </div>
</form>
