<div id="search_results">
<% unless @contacts.blank? %>
  <h3 class="text-center text-info"><%= t('results') %></h3>
  <table class="table table-bordered searchResults">
    <thead>
      <tr>
        <th><%= t('first_name')%></th>
        <th><%= t('last_name') %></th>
        <th><%= t('phone_number') %></th>
        <th></th>
	<th></th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td class="text"><%= contact.first_name %></td>
          <td class="text"><%= contact.last_name %></td>
          <td class="text"><%= contact.phone_number %></td>
          <td class="actionButtons"><%= link_to t('show'), contact_path(contact), class: "btn btn-success" %></td>
          <td class="actionButtons"><%= link_to t('edit'), edit_contact_path(contact), class: "btn btn-warning" %></td>
          <td class="actionButtons"><%= link_to t('destroy'), contact_path(contact),
                                        method: :delete,
                    			class: "btn btn-danger",
                                        data: { confirm: t('destroy_confirmation') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% if @search %>
    <div class="row clearfix">
      <h3 class="text-center text-info"><%= t('no_results_found') %></h3>
    </div>
  <% end %>
<% end %>
</div>
