<h3 class="text-center text-primary"><%= t('contacts') %></h3>
<% unless @contacts.blank? %>
  <table class="table table-responsive table-hover table-bordered">
    <thead>
      <tr>
        <th><%= t('first_name') %></th>
        <th><%= t('last_name') %></th>
        <th><%= t('phone_number') %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
          <td><%= contact.phone_number %></td>
          <td><%= link_to t('show'), contact_path(contact), class: "btn btn-success" %></td>
          <td><%= link_to t('edit'), edit_contact_path(contact), class: "btn btn-primary" %></td>
          <!-- <td><%#= link_to t('destroy'), contact_path(contact), 
				        # method: :delete,
                                        # class: "btn btn-danger",
					# data: { toggle: "modal", 
					#        target: "#destroyConfirmation" } %></td> -->
	  <td><%= button_tag t('destroy'), class: "btn btn-danger", data: { toggle: "modal", 
									    target: "#destroyConfirmation", 
									    contactId: contact.id } %></td>
	  <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render "modal_confirmation" %>
<% else %>
  <div class="row clearfix contacts_list_empty">
    <div class="col-md-4 column">
      <em><%= t('empty_contact_list') %></em>
    </div>
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
    </div>
  </div>
<% end %>
