<h3 class="text-center text-primary"><%= t('contacts') %></h3>
<% unless @contacts.blank? %>
  <table class="table table-responsive table-hover table-bordered contactIndex">
    <thead>
      <tr>
        <th><%= t('first_name') %></th>
        <th><%= t('last_name') %></th>
        <th><%= t('phone_number') %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td class="text"><%= contact.first_name %></td>
          <td class="text"><%= contact.last_name %></td>
          <td class="text"><%= contact.phone_number %></td>
          <td class="actionButtons"><%= link_to t('show'), contact_path(contact), class: "btn btn-success" %></td>
          <td class="actionButtons"><%= link_to t('edit'), edit_contact_path(contact), class: "btn btn-warning" %></td>
	  <!--<td class="actionButtons"><%#= button_tag t('destroy'), 
                                                   class: "btn btn-danger", 
                                                   data: { toggle: "modal", 
							   target: "#destroyConfirmation", 
							   contactId: contact.id } %></td>-->
	  <td class="actionButtons"><%= link_to t('destroy'), contact_path(contact),
                                        		      method: :delete,
                                        		      class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render "modal_confirmation" %>
<% else %>
  <div class="row clearfix contacts_list_empty">
    <div class="col-md-4 column">
      <em><%= t('empty_contact_list') %></em>
    </div>
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
    </div>
  </div>
<% end %>
