<div class="show_contact first_name" id="#{contact.id}_first_name">
  <strong><%= t('first_name') %></strong>
  <%= @contact.first_name %>
</div>
<div class="show_contact last_name" id="#{contact.id}_last_name">
  <strong><%= t('last_name') %></strong>
  <%= @contact.last_name %>
</div>
<div class="show_contact phone_number" id="#{@contact.id}_phone_number">
  <strong><%= t('phone_number') %></strong>
  <%= @contact.phone_number %>
</div>
