<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag "phonebook_logo.png", size: "80x80", class: "logo" %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if (current_page?(homepage_index_path) or current_page?(root_path)) %>">
          <%= link_to t('homepage'), homepage_index_path %>
        </li>
        <li class="<%= 'active' if current_page?(contacts_path) %>">
          <%= link_to t('contacts'), contacts_path %>
        </li>
        <li class="<%= 'active' if current_page?(new_contact_path) %>">
          <%= link_to t('new_contact'), new_contact_path %>
        </li>
      </ul>
      <%= render "layouts/language_switcher" %>
    </div>
  </div>
</nav>
