<!DOCTYPE html>
<html>
<head>
  <title>Phonebook</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to t('homepage'), homepage_index_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to t('homepage'), homepage_index_path %></li>
          <li><%= link_to t('contacts'), contacts_path %></li>
          <li><%= link_to t('add_contact'), new_contact_path %></li>
        </ul>
      </nav>
    </div>
    </header>
  <div class="container">
    <%= yield %>
  </div>
  <script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>
</body>
</html>
